@import "../../scss/style.scss";

.bookHL-item {
    width: calc(100% / 3 - 15px + 15px / 3);     
    &:first-child {
        width: 100%;
        margin-bottom: 15px;
        .flex {
            display: flex;
        }
        .poster {
            flex-grow: 1;
            img {
                height: auto;
            }
        }
        .info {
            width: calc(100% / 3 + 15px / 2);
            margin-left: 15px;           
        }
        .title {
            @include multiLineTextTrunc(3);
            a {
                font-size: 25px;
                font-weight: 700;
            }
        }     
        .subtitle {
            @include multiLineTextTrunc(6);            
        }  
    }
    &:not(:first-child) {
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
        .subtitle {
            display: none;
        }
    }  
    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    .title {
        a {
            color: #000;
            font-size: 16px;
            font-weight: 600;
            margin-left: 0;
            &:hover {
                color: #3764f7;
            }
        }
    }
}