@import '../../scss/style.scss'; // cần import file scss/style.scss nếu sử dụng các class trong đó
.header {
    border-bottom: 1px solid #a8a7a7;
    .nav {             
        @include flex(flex-start, center);
        &__brand {
            margin-top: 8px;
        }
        img {
            width: 150px;
            height: 40px;
            object-fit: cover;
        }
    }
    ol {
        @include flex(flex-start, center);
        padding-top: 17px;     
        li {
            margin: 0 7px;
        } 
        a {
            display: block;
            height: 35px;
            padding: 0 10px 0px 10px;         
            color: #000;
            font-weight: 600;
            box-sizing: border-box;
            &:hover {
                color: #2c8ddd;
                border-bottom: 3px solid #1f75bb;
            }
            &.active {
                color: #2c8ddd;
                border-bottom: 3px solid #1f75bb;
            }
        }
    }
}