.bookHL-item {
    width: calc(100% / 3 - 15px + 15px / 3);     
    &:first-child {
        width: 100%;
        margin-bottom: 15px;
        .flex {
            display: flex;
        }
        .poster {
            flex-grow: 1;
        }
        .info {
            width: calc(100% / 3);
            padding-left: 15px;
            box-sizing: border-box;
        }
        .title{
            font-size:50px;
        }
    }
    &:not(:first-child) {
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
        .subtitle {
            display: none;
        }
    }  
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    a {
        color: #000;
        font-size: 18px;
        font-weight: 600;
    }
}